/* NavigationMenu.css */
.blue-content-box {
  background-color: #00a2ff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-item {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item:not(:last-child) {
  margin-right: 20px;
}

/* 전기차 충전소 현황 메뉴 스타일 */
.charging-station-menu {
  position: relative;
}

.charging-station-menu.open .charging-station-submenu {
  display: block;
}

.charging-station-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: #00a2ff;
  flex-direction: column;
  min-width: 150px;
}

.charging-station-submenu .menu-item {
  margin: 5px 0;
  font-size: 16px;
}

.charging-station-submenu .menu-item:last-child {
  margin-bottom: 10px;
}

/* 회원가입 메뉴를 고정시키기 */
.signmenu {
  width: 150px;
  height: 50px;
  position: absolute;
  display: flex;
  padding-top: 20px;
  top: 0;
  right: 20px;
  justify-content: space-between;
}
.EV{
  color: black;
}
/* 박스 스타일 */
.menu-box {
  background-color: #fff; /* 박스 배경색 */
  border: 1px solid #ccc; /* 박스 테두리 */
  padding: 10px; /* 내부 간격 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  border-radius: 5px; /* 둥근 모서리 */
  color: black;
}
